{% extends "base.html" %}
{% load static %}

{% block content %}
<div>
  <form method="POST" style="width: 100%">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-outline-dark btn-transparent btn-block">Search</button>
  </form>
</div>

<div class="col-sm">
<div class="row d-flex justify-content-center mt-2">
{% for food in food_data %}

<div id="{{ food.food_name }}"class="card food-card shadow-lg ml-3 mb-5 bg-white" style="width: 18rem; background: -webkit-linear-gradient(135deg, #ff0000 25%, #ff580d 100%)">
  <div class="card-header bg-dark text-light food-data"  >{{ food.food_name }}</div>
  <img class="card-img-top" img src="{{ food.img_url }}" alt="{{ food.food_name }}" height="250px" border="0" alt="Card image cap">
  <div class="card-body text-light">
    <h5 class="card-title food-data" data-id="{{food.calories}}">Calories: {{ food.calories }}</h5>
    <p data-id="{{food.carbs}}" class="food-data">Carbs: {{ food.carbs }}g</p>
    <p data-id="{{food.fats}}" class="food-data">Fats: {{ food.fats }}g</p>
    <p data-id="{{food.proteins}}" class="food-data">Protein: {{ food.proteins }}g</p>
    <hr/>
  </div>

  <div class="alert alert-transparent text-light" role="alert">
    <h4 class="alert-heading">Yummy!</h4>
    <div class="form-group">
    <label for="exampleFormControlSelect1">When Did You Eat This Food?</label>
    <div>
      <form id="addFoodForm" method="POST">
        {% csrf_token %}
        {{ add_food_form.as_p }}

        <!-- hidden inputs to track food data values -->
        <input type="hidden" name="food_name" value="{{ food.food_name }}" />
        <input type="hidden" name="food_calories" value="{{ food.calories }}" />
        <input type="hidden" name="food_carbs" value="{{ food.carbs }}" />
        <input type="hidden" name="food_fats" value="{{ food.fats }}" />
        <input type="hidden" name="food_proteins" value="{{ food.proteins }}" />
        <input type="hidden" name="food_img" value="{{ food.img_url }}" />
        <button type="submit" class="logFood btn btn-outline-dark btn-transparent btn-block">Log This Food!</button>
      </form>
    </div>
    </div>
    <hr>
  </div>

  </div>
</div>

{% endfor %}
<p>{{ error }}</p>

</div>
</div>
{% endblock %}



