<h1>Search form goes here</h1>

<style>
body {
  background: deepskyblue;
}
</style>

<form method="POST">
  {% csrf_token %}
  {{ form.as_p }}
  <input type="submit" value="Search"/>
</form>

<!-- nutrionix -->
{% for food in food_data %}
  <p>Name: {{ food.food_name }}</p>
  <p>Serving: {{ food.serving }}g</p>
  <p>Calories: {{ food.calories }}</p>
  <p>Carbs: {{ food.carbs }}g</p>
  <p>Fats: {{ food.fat }}g</p>
  <p>Proteins: {{ food.protein }}g</p>
  <img src="{{ food.img_url }}" alt="{{ food.food_name }}">
  <hr/>
{% endfor %}

<p>{{ error }}</p>

